.white-btn {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #240524;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

.white-btn:hover {
    background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    background-color: #f6f6f6;
}

.white-btn:active {
    position: relative;
    top: 1px;
}

.dark-btn {
    box-shadow:inset 0px 1px 0px 0px #050404;
    background:linear-gradient(to bottom, #1a1918 5%, #1f1a19 100%);
    background-color:#1a1918;
    border-radius:6px;
    border:1px solid #ffffff;
    display:inline-block;
    cursor:pointer;
    color:#f0e2f0;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #141313;
}
.dark-btn:hover {
    border:1px solid #ffffff;
    background:linear-gradient(to bottom, #1f1a19 5%, #1a1918 100%);
    background-color:#1f1a19;
}
.dark-btn:active {
    border:1px solid #ffffff;
    position:relative;
    top:1px;
}